<template>
    <div class="chat">
        <h1>Chat</h1>
        <div class="conv" >
          <div class="received" v-for="m in Message" :key="m.id">
            <span>{{ m.n }} : {{m.msg}}</span>
          </div>
        </div>
        <div class="footer">
            <form @submit="addMsg">
                <input v-model="msgs" placeholder="Type Message.."/>
                <input v-model="room" placeholder="Enter the Room" />
                <button class="button-3" role="button">Send</button>
            </form>

        </div>
    </div>
</template>

<script>
import io from "socket.io-client"

console.log("Hello")
const socket = io.connect("http://localhost:3000")
console.log(socket)

export default {
    name : "Chat",
    data(){
      return {
        Message : []
        
      }
    },
    props:{
      nameuser:String
    },
    created(){
      socket.on("chat",(payload)=>{
            this.Message=[...this.Message,payload]
            this.msgs=""
          })

    },
    methods:{
      addMsg(e){
        e.preventDefault()
        if(this.msgs){
          const newmsg={
            id : Math.floor(Math.random() * 10000),
            n : this.nameuser,
            msg: this.msgs,
            room:this.room
          }     
          this.Message=[...this.Message,newmsg]
          this.msgs="" 
          this.room=""       
          socket.emit("chat",newmsg)  
          
        }
        
        
      }
    }
    
}
</script>

<style >
.chat{
    display: flex;
    flex-direction: column;
    flex: 0.6;
    background-color: rgb(214, 209, 209);
}
.conv{
    height: 100%;
    margin: 5px;
    overflow-y: scroll;
    background-repeat: repeat;
}
input {
    border: 0px solid;
    height: 5vh;
    width: 40vw;
    margin: 10px;
    outline-width: 0;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(215, 221, 218);
}

.received{
  position: relative;
  width: fit-content;
  padding: 5px;
  margin-top: 25px;
  border-radius: 10px;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
</style>