<template>
    <div class="member">
        <h1>Members</h1>
        <button @click="Add" >Add Topic</button>
        <div v-if="addTopic">
            <form @submit="addTopics">
                <input v-model="topic" type="text" />
                <button>Add</button>
            </form>
        </div>
        <ul>
            <li v-for="d in Item" :key="d" ><Name :na="d" /></li>
        </ul>  
    </div>
</template>

<script>
import Name from "./Name.vue"

export default {
    name : "Members",
    data(){
        return {
            Item : ["Raj","Ram","Raghu"],
            addTopic:false
        }
    },
    components:{
        Name,
    },
    methods:{
        Add() {
            this.addTopic=!this.addTopic
        },
        addTopics(){
            this.Item.push(this.topic),
            this.topic=""
        },

    }
}
</script>

<style scoped>
.member{
    display: flex;
    flex-direction: column;
    flex: 0.4;
}

ul{
    list-style-type: none;
}

</style>