<template>
    <div class="card">
        <h2 >{{ na }}</h2>
    </div>
</template> 

<script>

export default {
    name:"Name",
    props:{
        na:String
    }

}
</script>

<style scoped>
.card {
  display: flex;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  border-bottom: 2px solid rgb(239, 243, 241);
  background-color: rgb(195, 241, 239);
  width: 33vw;
}

.card:hover {
  background-color: #cfcccc;
}


</style>