<template>
  <div class="home">
    <form @submit="userlogin" v-if="!User">
      <input class="Login" v-model="Username" type="text" placeholder="Type Name">
      <button>Login</button>
    </form>
    <div v-else>
      <h5 >Welcome {{this.User}}</h5>
      <HelloWorld msg="Chat App" />
      <div class="container">
      <Members />
      <Chat :nameuser="this.User" />
    </div>
    </div>
    
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import Members from "@/components/Members.vue";
import Chat from "@/components/Chat.vue";


export default {
  name: "Home",
  components: {
    HelloWorld,
    Members,
    Chat,
  },
  data(){
    return{
      User: ""
    }
  },
  methods:{
    userlogin(){
      this.User=this.Username
    }
   
  }
};
</script>

<style>
.Login{
  background-color: antiquewhite;
}

#ap {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.container{
  display: flex;
  justify-content: space-between;
  background-color: #faf4f4;
  height: 90vh;
  width: 90vw;
}

.home{
  display: grid;
  place-items: center;
  height: 100vh;
}
</style>

